<div class="pagination">
  {% unless paginate.previous.is_link %}
  <a
    href="{{ paginate.previous.url }}"
    class="pagination-link previous disabled"
  >
    Previous
  </a>
  {% else %}
  <a href="{{ paginate.previous.url }}" class="pagination-link previous">
    Previous
  </a>
  {% endunless %} {% unless paginate.next.is_link %}
  <a href="{{ paginate.next.url }}" class="pagination-link next disabled">
    Next
  </a>
  {% else %}
  <a href="{{ paginate.next.url }}" class="pagination-link next"> Next </a>
  {% endunless %}
</div>

