.article-template {
  max-width: 730px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    margin: 0 2rem;
  }
  // Global Styles for Blog Template
  // ---
  h1 {
    color: $e29green;
  }
  h2 {
    margin: 0.5rem 0 2.75rem;
    color: $e29green;
  }
  h3 {
    margin: 0.5rem 0 2rem;
    text-transform: uppercase;
  }
  p {
    letter-spacing: 0.5px;
  }
  a {
    color: $e29green;

    &:hover {
      border-bottom: 1px solid $e29green;
    }
  }
  .article-header--wrapper {
    width: 70%;
    margin: 60px auto 0;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    p {
      color: $darkgrey;
    }

    .article-author {
      text-transform: uppercase;
      color: $darkgrey;
    }

    .meta--wrapper {
      display: flex;

      ul {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        li {
          font-size: 12px;
          font-family: $font__main--reg;
          color: $darkgrey;
          text-transform: uppercase;
          margin-right: 0.25rem;
        }
      }
      p {
        color: $darkgrey;
      }
    }
  }

  .article-item--image-wrapper {
    margin: 6rem 0rem;

    @media (max-width: 420px) {
      margin: 3rem 0rem;
    }

    .article-item__featured-image {
      object-fit: cover;
    }
  }

  .article-content {
    img {
      margin: 4.5rem auto;
      width: auto;

      @media (max-width: 426px) {
        margin: 3.5rem auto;
      }
    }
  }
}

.article-navigation {
  display: flex;
  justify-content: center;
  margin: 6rem 0rem;

  @media (max-width: 420px) {
    margin: 3rem 0rem;
  }

  a {
    text-transform: uppercase;
    font-family: $font__main--reg;
    font-size: 12px;
    border-bottom: 1px solid white;
  }
}
