.page-clean-beauty {
  h1,
  h2,
  h3,
  h4 {
    color: $e29green;
  }

  // clean-beauty Hero Section
  .hero-clean-beauty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @media (max-width: $tablet) {
      flex-direction: column;
      height: auto;
    }

    .hero-clean-beauty__col-01 {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $tablet) {
        width: 100%;
        padding: 10rem 3.5rem 6rem;
        justify-content: flex-start;
      }

      @media (max-width: $mobileLarge) {
        padding: 10rem 1.5rem 6rem;
      }

      .arrow-down {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 3rem;
        margin-left: 6rem;

        svg {
          g {
            stroke: $e29green;
          }
        }

        @media (max-width: $tablet) {
          display: none;
        }
      }
    }

    .hero-clean-beauty__col-02 {
      position: relative;
      width: 50%;
      height: 100%;
      overflow: hidden;

      @media (max-width: $tablet) {
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: bottom;

        @media (max-width: $tablet) {
          height: auto;
        }
      }
    }
  }

  // clean-beauty Page Navigation

  .clean-beauty-page-nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: $e29green;

    @media (max-width: $mobileLarge) {
      height: auto;
      padding: 1rem;
    }

    ul {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;

      @media (max-width: $mobileLarge) {
        flex-direction: column;
        padding: 0;
      }

      li {
        @media (max-width: $mobileLarge) {
          margin: rem;
        }
        a {
          text-transform: uppercase;
          font-family: $font__main--med;
        }
      }
    }
  }

  // **
  // * Clean Beauty - Intro & Movement Section
  // **

  .clean-beauty-intro--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacer140 0 0;

    @media (max-width: $tablet) {
      height: auto;
      padding: $spacer50 1.5rem;
      width: 80%;
      margin: 0 auto;
    }

    @media (max-width: $mobileLarge) {
      width: 100%;
    }

    svg {
      margin-bottom: $spacer50;
    }

    h3 {
      text-align: center;
      width: 50%;

      @media (max-width: $tablet) {
        width: 80%;
      }
    }
  }

  // *
  // ** Clean Movement Accordion Section
  // *
  .clean-movement.image-is-left-aligned {
    display: flex;
    position: relative;
    height: 100%;

    align-items: center;
    justify-content: center;

    @media (max-width: 820px) {
      flex-direction: column;
      margin-top: 0;
    }

    // Left aligned Image
    .clean-movement_section__col-01 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 820px) {
        width: 100%;
        padding: 0 3.5rem;
      }

      @media (max-width: $mobileLarge) {
        padding: 0 1.5rem;
      }
    }

    // Accordion
    .clean-movement_section__col-02 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 4rem;

      @media (min-width: $desktopXL) {
        padding: 2.5rem 8rem;
      }

      @media (max-width: $desktopSmall) {
        padding: 6.5rem 3.5rem;
      }

      @media (max-width: 820px) {
        width: 100%;
      }

      @media (max-width: $mobileLarge) {
        padding: 3.5rem 1.5rem;
      }

      .col-02--inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h2 {
          margin-bottom: 3rem;
        }

        .clean-movement_q-a--wrapper {
          .accordion__button {
            width: 100%;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid $e29green;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:focus {
              outline: none;
            }

            h3 {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
          }
          .accordion__content {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 3rem;
            transition: max-height 450ms ease-in-out, margin 450ms ease-in-out;
          }
        }
      }
    }
  }

  // * Green Movement Accordion Section
  // *

  .clean-green-beauty.image-is-right-aligned {
    display: flex;
    position: relative;
    height: 100%;

    align-items: center;
    justify-content: center;

    @media (max-width: 820px) {
      flex-flow: column-reverse;
      margin-top: 0;
    }

    // Q/A
    .green-beauty_section__col-01 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 4rem;

      @media (min-width: $desktopXL) {
        padding: 2.5rem 8rem;
      }

      @media (max-width: $desktopSmall) {
        padding: 6.5rem 3.5rem;
      }

      @media (max-width: 820px) {
        width: 100%;
      }

      @media (max-width: $mobileLarge) {
        padding: 3.5rem 1.5rem;
      }

      .col-01--inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h2 {
          margin-bottom: 3rem;
        }

        .green-beauty_q-a--wrapper {
          .accordion__button {
            width: 100%;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid $e29green;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:focus {
              outline: none;
            }

            h3 {
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
          }
          .accordion__content {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 3rem;
            transition: max-height 450ms ease-in-out, margin 450ms ease-in-out;
          }
        }
      }
    }

    // Right Aligned Image
    .green-beauty_section__col-02 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 820px) {
        width: 100%;
        padding: 0 3.5rem;
      }

      @media (max-width: $mobileLarge) {
        padding: 0 1.5rem;
      }
    }
  }

  // **
  // * Clean Vegan Section
  // **
  .clean-vegan--wrapper {
    // Image
    .clean-vegan--row-1 {
      margin-top: $spacer140;
      margin-bottom: $spacer140;

      @media (max-width: 820px) {
        margin-top: $spacer80;
        margin-bottom: $spacer80;
      }
      .row-1--wrapper {
        padding: 3.5rem 4rem 0 4rem;

        @media (max-width: $tablet) {
          padding: 3.5rem;
        }

        @media (max-width: $mobileLarge) {
          padding: 0 1.5rem;
        }

        img {
          width: 100%;
        }
      }
    }
    // Title & Certification
    .clean-vegan--row-2 {
      padding: 0 8rem;
      margin-bottom: $spacer50;

      @media (max-width: 820px) {
        padding: 0 4rem;
      }

      .row-2--inner-wrapper {
        .vegan-certified {
          display: flex;
          flex-wrap: nowrap;

          svg {
            margin-left: 1rem;
          }
        }
      }
    }
    // Row 3 - Blocks
    .clean-vegan--row-3 {
      padding: 0 8rem;

      @media (max-width: 820px) {
        padding: 0 4rem;
      }

      .row-3--wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: start;
        gap: 4rem;

        @media (max-width: 820px) {
          grid-template-columns: 1fr;
        }
        // Individual block style
        .clean-vegan-block {
          .clean-vegan-block-icon {
            max-width: 60px;
            margin-bottom: 2rem;
          }
          .clean-vegan-block-title {
            min-height: 75px;
          }
          .clean-vegan-block-paragraph {
          }
        }
      }
    }
  }

  // **
  // * Clean Beauty Serums
  // **
  .clean-serums.image-is-left-aligned {
    display: flex;
    position: relative;
    height: 100%;

    @media (max-width: 820px) {
      flex-direction: column;
      margin-top: 0;
    }

    // Left aligned Image
    .clean-serums_section__col-01 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 820px) {
        width: 100%;
        padding: 0 3.5rem;
      }

      @media (max-width: $mobileLarge) {
        padding: 0 1.5rem;
      }

      img {
        max-height: 900px;
        object-fit: cover;
      }
    }

    .clean-serums_section__col-02 {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 4rem;

      @media (min-width: $desktopXL) {
        padding: 2.5rem 8rem;
      }

      @media (max-width: $desktopSmall) {
        padding: 6.5rem 3.5rem;
      }

      @media (max-width: 820px) {
        width: 100%;
      }

      @media (max-width: $mobileLarge) {
        padding: 3.5rem 1.5rem;
      }

      .col-02--inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}

// This might need to be removed
.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.anchor-link:hover {
  color: $e29yellow;
  text-decoration: underline;
}

.anchor-link.active {
  color: $e29yellow;
  text-decoration: underline;

  @media (max-width: $mobileLarge) {
    color: $white;
    text-decoration: none;
  }
}

// Class to account for the page flow shift for sticky sub nav
.flow-adjuster {
  &.bumped {
    height: 50px;

    @media (max-width: $mobileLarge) {
      height: 0;
    }
  }
}
