.page-contact {
  .header__main {
    // Might switch these off later
    position: relative;
    height: auto;
  }
  .contact-page--wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    margin: 6rem auto;

    .contact-page-info--wrapper {
      display: flex;
      margin-bottom: 8rem;

      .contact-page-info__col-01 {
        width: 50%;

        h1 {
          color: $e29green;
          margin: 0;
          font-family: $font__main--reg;
        }
      }
      .contact-page-info__col-02 {
        width: 50%;
      }
    }

    .contact-form--wrapper {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        label {
          visibility: hidden;
        }

        input:not([type='submit']) {
          color: $e29green;
          border: none;
          border-bottom: 1px solid $e29green;
          padding: 0.75rem 0.5rem 0.75rem 0.5rem;

          &::placeholder {
            color: $e29green;
          }
        }

        input[type='submit'] {
          width: 125px;
          margin-left: auto;
          cursor: pointer;
        }

        textarea {
          color: $e29green;
          border: none;
          border: 1px solid $e29green;
          padding: 0.75rem 0.5rem 0.75rem 0.5rem;

          &::placeholder {
            color: $e29green;
          }
        }
      }
    }
  }
}
