.page-contact {
  padding-top: 106px;

  .contact-page--wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 6rem auto;

    @media (max-width: $mobileLarge) {
      margin: 6rem 0;
      padding: 0 1.5rem;
      width: 100%;
    }

    .contact-page-info--wrapper {
      display: flex;
      margin-bottom: 8rem;

      @media (max-width: $tablet) {
        flex-direction: column;
        margin-bottom: 3.5rem;
      }

      .contact-page-info__col-01 {
        width: 50%;

        @media (max-width: $tablet) {
          width: 100%;
        }

        h1 {
          color: $e29green;
          margin: 0;
          font-family: $font__main--reg;
        }
      }
      .contact-page-info__col-02 {
        width: 50%;

        @media (max-width: $tablet) {
          width: 100%;
          margin-top: 3.5rem;
        }
      }
    }

    .contact-form--wrapper {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        label {
          visibility: hidden;
        }

        input:not([type='submit']) {
          color: $e29green;
          border: none;
          border-bottom: 1px solid $e29green;
          padding: 0.75rem 0.5rem 0.75rem 0.5rem;

          &::placeholder {
            color: $e29green;
          }
        }

        input[type='submit'] {
          width: 125px;
          margin-left: auto;
          cursor: pointer;
        }

        textarea {
          color: $e29green;
          border: none;
          border: 1px solid $e29green;
          padding: 0.75rem 0.5rem 0.75rem 0.5rem;
          margin-bottom: 2rem;

          &::placeholder {
            color: $e29green;
          }
        }
      }
    }
  }
}
