.index {
  .header__main {
    .header__logo--wrapper {
      svg#east29-logo {
        path {
          fill: $white;
        }
      }
    }

    svg#cart-icon {
      path {
        fill: $white;
      }
    }

    .nav-toggle > span {
      background-color: $white;
    }
  }
}

.hero-homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $e29green;
  overflow: hidden;

  @media (max-width: $tablet) {
    flex-direction: column;
    height: auto;
  }

  .hero-homepage__col-01 {
    position: relative;
    width: 55%;
    height: 100%;
    overflow: hidden;

    @media (max-width: 890px) {
      width: 60%;
    }

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
      overflow: visible;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }

    .arrow-down {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 3rem;
      margin-left: 6rem;

      @media (max-width: $tablet) {
        display: none;
      }
    }
  }

  .hero-homepage__col-02 {
    width: 45%;
    height: 100%;
    padding: 4rem;
    padding-right: 2rem;
    background-color: $e29green;
    display: flex;

    .hero__col-02--inner-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    @media (max-width: 890px) {
      width: 40%;
    }

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
    }

    @media (max-width: $mobileLarge) {
      padding: 3.5rem 1.5rem;
    }

    h1 {
      @media (max-width: $tablet) {
        margin-top: 0;
      }
    }
  }
}

.homepage__intro-para {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacer140 0;

  @media (max-width: $tablet) {
    height: auto;
    padding: $spacer50 1.5rem;
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: $mobileLarge) {
    width: 100%;
  }

  h3 {
    text-align: center;
    width: 50%;

    @media (max-width: $tablet) {
      width: 80%;
    }

    &:before {
      display: block;
      content: '';
      width: 40%;
      height: 1px;
      margin: 3rem auto;
      background-color: $e29yellow;

      @media (max-width: $tablet) {
        width: 55%;
      }
    }

    &:after {
      display: block;
      content: '';
      width: 40%;
      height: 1px;
      margin: 3rem auto;
      background-color: $e29yellow;

      @media (max-width: $tablet) {
        width: 55%;
      }
    }
  }
}

.homepage-product-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.5rem;
  margin-bottom: $spacer140;
  height: 100vh;

  @media (max-width: $tablet) {
    flex-direction: column;
    flex-flow: column-reverse;
    height: auto;
  }

  @media (max-width: $mobileLarge) {
    padding: 1.5rem;
    margin-bottom: $spacer50;
  }

  .homepage-product-cta__col-01 {
    width: 40%;
    height: 100%;
    padding: 4rem 5rem;
    background-color: $e29green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
      padding: 3.5rem 8rem;
    }

    @media (max-width: $mobileLarge) {
      padding: $spacer50 3.5rem;
      height: auto;
    }

    h2 {
      text-transform: uppercase;
    }

    p {
      color: $white;
      margin-bottom: 2rem;
    }
  }
  .homepage-product-cta__col-02 {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: $e29yellow;

    @media (max-width: $tablet) {
      width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
}

.featured-product-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacer140;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  @media (max-width: $mobileLarge) {
    margin-bottom: $spacer50;
  }

  .homepage-feature-product__col-01 {
    width: 40%;
    height: 100vh;
    overflow: hidden;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
    }

    img {
      object-fit: contain;
    }

    img {
      @media (max-width: $tablet) {
        margin: 0 auto;
      }
    }
  }

  .homepage-feature-product__col-02 {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
    }

    img {
      object-fit: contain;
    }

    .col_02__inner-wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @media (max-width: $tablet) {
        width: 100%;
        padding: 6rem 3.5rem;
      }

      @media (max-width: $mobileMed) {
        padding: 3.5rem 1.5rem;
      }

      h2 {
        color: $e29green;
        text-transform: uppercase;
        margin: 2rem 0;
      }

      p {
        padding-right: 2.5rem;
      }
    }
  }
}

.homepage-feature-product__row-02 {
  flex-direction: row-reverse;
  margin-bottom: $spacer140;

  @media (max-width: $tablet) {
    flex-direction: column;
    margin-bottom: 0;
  }

  .homepage-feature-product__col-02 {
    .col_02__inner-wrapper {
      @media (max-width: $tablet) {
        width: 100%;
        padding: 6rem 3.5rem;
      }

      @media (max-width: $mobileMed) {
        padding: 3.5rem 1.5rem;
      }
    }
  }
}

.homepage-about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $e29green;
  margin-bottom: $spacer140;
  height: auto;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  .homepage-about-us__col-01 {
    width: 50%;
    overflow: hidden;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
    }
    @media (max-width: $mobileLarge) {
      height: auto;
    }

    img {
      @media (max-width: $tablet) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .homepage-about-us__col-02 {
    width: 50%;
    display: flex;
    justify-content: center;

    @media (max-width: $tablet) {
      width: 100%;
      height: auto;
      padding: 3.5rem 8rem;
    }

    @media (max-width: $mobileLarge) {
      padding: $spacer50 3.5rem;
    }

    .about-us__col-02--inner-wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      @media (max-width: $tablet) {
        width: 100%;
      }

      h2 {
        margin-top: 0;
      }

      p {
        color: $white;
        margin-bottom: 2rem;
      }
    }
  }
}

.homepage-feature-product-02 {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  @media (max-width: $tablet) {
    flex-direction: column;
    flex-flow: column-reverse;
    align-items: flex-end;
  }

  .homepage-feature-product-02__col-01 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet) {
      width: 100%;
    }

    .feature-product-02__col-02--inner-wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: $tablet) {
        width: 100%;
        padding: 6rem 3.5rem;
      }

      h2 {
        color: $e29green;
      }
    }
  }

  .homepage-feature-product-02__col-02 {
    width: 50%;
    position: relative;

    @media (max-width: $tablet) {
      width: 75%;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: bottom;

      @media (max-width: $tablet) {
        position: relative;
      }
    }

    .background-fill {
      background-color: $e29yellow;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      border-top: 6rem solid $white;
      border-left: 5rem solid $white;
    }
  }
}
