// Font Sizes and Styles
@font-face {
  font-family: 'moriston_personalsemibold';
  src: url('./moristonpersonal-semibold-webfont.woff2') format('woff2'),
    url('./moristonpersonal-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moriston_personalmedium';
  src: url('./moristonpersonal-medium-webfont.woff2') format('woff2'),
    url('./moristonpersonal-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moriston_personal_regularRg';
  src: url('./moristonpersonal-regular-webfont.woff2') format('woff2'),
    url('./moristonpersonal-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Global Font Size
html {
  font-size: 16px;
  font-family: 'moriston_personal_regularRg';

  @media screen and (max-width: 1440px) {
    font-size: 14px;
  }

  @media screen and (max-width: $mobileMed) {
    font-size: 12px;
  }
}

h1 {
  font-size: 2.25rem;
  font-family: $font__main--med;
  color: $font__yellow;
  letter-spacing: 1.25px;
  line-height: 1.2;
  margin: 2rem 0;
  text-transform: uppercase;

  @media (max-width: $mobileMed) {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2.25rem;
  font-family: $font__main--med;
  color: $font__yellow;
  letter-spacing: 1.25px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 2rem 0;

  @media (max-width: $mobileMed) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-family: $font__main--reg;
  color: $e29green;
  letter-spacing: 1.5px;
}

p {
  font-size: 1rem;
  font-family: $font__main--reg;
  color: $e29green;
  letter-spacing: 1px;
  line-height: 1.8;
}

span {
  font-size: 0.875rem;
  color: $white;
  letter-spacing: 2px;
  line-height: 1.5;
}

a {
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 1.1;
  text-decoration: none;
}

sup {
  font-size: 2rem;
}
