// Font Sizes and Styles
@font-face {
  font-family: 'moriston_personalsemibold';
  src: url('./moristonpersonal-semibold-webfont.woff2') format('woff2'),
    url('./moristonpersonal-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moriston_personalmedium';
  src: url('./moristonpersonal-medium-webfont.woff2') format('woff2'),
    url('./moristonpersonal-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'moriston_personal_regularRg';
  src: url('./moristonpersonal-regular-webfont.woff2') format('woff2'),
    url('./moristonpersonal-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Global Font Size
html {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1 {
  font-size: 26px;
  font-family: $font__main--med, 'Arial', 'Helvetica', sans-serif;
  color: $font__yellow;
  letter-spacing: 1.25px;
  line-height: 1.3;
  margin: 2rem 0;
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
  font-family: $font__main--med, 'Arial', 'Helvetica', sans-serif;
  color: $font__yellow;
  letter-spacing: 1.25px;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 2rem 0;

  @media (max-width: $mobileLarge) {
    font-size: 18px;
  }
}

h3 {
  font-size: 18px;
  font-family: $font__main--reg, 'Arial', 'Helvetica', sans-serif;
  color: $e29green;
  letter-spacing: 1px;
  line-height: 1.5;

  @media (max-width: $mobileLarge) {
    font-size: 14px;
    line-height: 1.7;
  }
}

p {
  font-size: 12px;
  font-family: $font__main--reg, 'Arial', 'Helvetica', sans-serif;
  color: $e29green;
  letter-spacing: 1px;
  line-height: 1.7;
}

span {
  font-size: 0.875rem;
  letter-spacing: 1px;
  line-height: 1.3;
}

span.no-caps {
  font-size: inherit;
  text-transform: none;
}

a {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.1;
  text-decoration: none;
}

sup {
  font-size: 2rem;
}
