<div id="our-founder" class="founder--wrapper">
  <div class="founder__block">
    <div class="founder__col-01">
      <img 
      data-src="{{section.settings.founder-image | img_url: 'master'}}" 
      class="lazy lazy-reveal"
      alt="{{ founder-image.alt | escape}}">
    </div>
    <div class="founder__col-02">
      <h2>{{ section.settings.founder-title }}</h2>
      <p>{{ section.settings.founder-text }}</p>
    </div>
  </div>
</div>


{% schema %} 
  {
    "name": "Our Founder",
    "settings": [
      {
        "id": "founder-image",
        "type": "image_picker",
        "label": "Founder Image"
      },
      {
        "id": "founder-title",
        "type": "textarea",
        "label": "Our Founder Title"
      },
      {
        "id": "founder-text",
        "type": "textarea",
        "label": "Our Founder Text"
      }
    ]
  }
{% endschema %}