{% comment %} Clean Beauty Movement - Section 1 {% endcomment %}
<section id="clean-beauty-movement" class="clean-movement accordion-block image-is-left-aligned">
  {% comment %} Column 1 with Image {% endcomment %}
  <div class="clean-movement_section__col-01">
    <div class="col-01--inner-wrapper lazy-image-wrapper">
      {% render 'responsive-image' with imgSrc: section.settings.clean-beauty-movement-image %}
    </div>
  </div>
  {% comment %} Colum 2 with Q/A {% endcomment %}
  <div class="clean-movement_section__col-02">
      <div class="col-02--inner-wrapper">
      <h2>{{section.settings.clean-beauty-movement-title}}</h2>
      <div class="clean-movement_q-a--wrapper">
        {% for block in section.blocks %}
          <button class="toggle-answer accordion__button">
            <h3>{{block.settings.question}}</h3>
          </button>
          
          <div class="answer accordion__content">
            <p>{{block.settings.answer}}</p>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>
  
</section>

{% schema %}
  {
    "name": "Clean Beauty Movement",
    "settings": [
      {
        "id": "clean-beauty-movement-image",
        "type": "image_picker",
        "label": "Clean Beauty Movement Image"
      },
      {
        "id": "clean-beauty-movement-title",
        "type": "text",
        "label": "Clean Beauty Movement Title"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Questions & Answers",
        "settings": [
          {
            "id": "question",
            "type": "text",
            "label": "Enter Question"
          },
          {
            "id": "answer",
            "type": "textarea",
            "label": "Enter Answer"
          }
        ]
      }
    ]
  }
{% endschema %}