<header id="header" class="header__main">
  <div class="header__logo--wrapper">
  <a href="/">
    <svg
      version="1.1"
      id="east29-logo"
      xmlns="http://www.w3.org/2000/svg"
      x="0"
      y="0"
      viewBox="0 0 202.64 153.85"
      xml:space="preserve"
    >

      <path
        class="st0"
        d="M41.63 56.13l-26.23.01-.01-22.01 23.1-.01-.01-5.9-23.09.01-.01-19.78 26.23-.01V2.13l-38.96.02.03 60.3 38.96.07zM63.64 46.59l21.22-.01L90.4 62.5l14.57-.01L84.5 2.11l-15.46.01-21.39 60.4H58.2l5.44-15.93zm11.28-33.76l8.47 28.1-18.04.01 9.57-28.11zM133.07 58.19c-6.44 0-14.26-4.39-15.72-13.09l-10.05-.08c1.7 11.43 10.48 19.32 25.29 19.31 14.17-.01 24.64-7.01 24.63-19.33-.01-12.72-11.84-15.7-22.31-18.59-8.13-2.17-13.61-4.42-13.61-10.14 0-4.99 4.51-9.96 11.03-9.96 7.81 0 12.65 5.3 13.22 10.77l10.14.06C153.34 6.19 145.53-.01 132.16 0c-12.8.01-22.54 7.01-22.54 17.64 0 10.87 9.51 15.78 19.49 18.27 10.15 2.33 16.11 5.39 16.11 11.02 0 5.48-4.82 11.26-12.15 11.26zM157.42 2.08v6.39l15.96-.01.03 54.01 13.28-.01-.02-54 15.97-.01-.01-6.38zM65.68 146.39c-19.5.01-30.47-17.77-52.17-22.97 12.77-7.35 27.44-16.1 27.44-31.73 0-11.18-9.89-18.5-21-18.5C8.48 73.2.4 80.51.41 93.63l9.79-.05c-.15-8.89 3.38-15.67 9.54-15.67 4.87 0 9.92 5.21 9.92 13.43 0 11.98-12.47 20.66-29.67 31.85v7.53c27.66 2.31 40.32 23.15 65.65 23.14 24.46-.01 41.07-24.3 41.07-24.3l-7.21-5.96c.01-.01-13.93 22.78-33.82 22.79zM98.03 80.98h14.25l.02 44.48h9.93l-.02-44.48 14.01-.01v-5.33l-38.2.01zM175.63 97.13l-21.21.01-.01-21.51-11.15.01.02 49.81 11.15-.01-.01-23.58 21.21-.01.01 23.58h11.08l-.02-49.81h-11.08z"
      />
      <path
        class="st0"
        d="M66.88 113.91c7.79 0 11.25-4.19 12.62-6.65-.98 13.91-5.62 23.03-14.45 23.03-9.2 0-14.98-14.28-14.98-14.28l-8.01 6.94s8.92 13.09 23.29 13.08c12.42-.01 27.62-10.88 26.38-36.94-.79-16.59-10.71-26.34-24.28-26.33-11.23 0-21.98 7.97-21.37 20.81.65 13.7 11.26 20.35 20.8 20.34zm.47-36.54c8 0 11.14 7.9 12.01 16.24.33 7.29-1.65 11.61-5.33 13.66-1.25.64-2.72 1.13-4.48 1.34l-.12.01c-.6.07-1.23.11-1.89.11-7.29 0-10.5-9-10.79-15.21-.55-8.7 4.57-16.14 10.6-16.15z"
      />
    </svg>
    </a>
  </div>
  <div class="header__nav-icons--wrapper">
    <ul class="header__nav-icons">
      <li class="header__nav-icon-item cart-toggle">
        <svg 
        id="cart-icon"
        xmlns="http://www.w3.org/2000/svg" 
        width="19.368" 
        height="16">
          <path
            d="M4.842 16L1.533 7.827A1.13 1.13 0 00.519 7.2H0V5.6h19.368v1.6h-.517a1.126 1.126 0 00-1.013.629L14.526 16zm8.521-12l-2.63-2.608a.79.79 0 01-.241-.569A.825.825 0 0111.9.238L15.69 4zM3.678 4L7.472.238A.829.829 0 018.054 0a.82.82 0 01.824.824.791.791 0 01-.242.569L6 4z"
            fill="#1b443d"
          />
        </svg>
      </li>
      <li class="header__nav-icon-item nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </li>
    </ul>
  </div>
  <div class="header__navigation--wrapper">
    <button class="close-nav">
      <span></span>
      <span></span>
    </button>
    <div class="main-menu">
      {% include 'menu' %}
    </div>
  </div>
</header>
