<header id="header" class="header__main">
  <div class="header__logo--wrapper">
    <a href="/">
      <svg
        version="1.1"
        id="east29-logo"
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        viewBox="0 0 202.64 153.85"
        xml:space="preserve"
      >
        <path
          class="st0"
          d="M41.63 56.13l-26.23.01-.01-22.01 23.1-.01-.01-5.9-23.09.01-.01-19.78 26.23-.01V2.13l-38.96.02.03 60.3 38.96.07zM63.64 46.59l21.22-.01L90.4 62.5l14.57-.01L84.5 2.11l-15.46.01-21.39 60.4H58.2l5.44-15.93zm11.28-33.76l8.47 28.1-18.04.01 9.57-28.11zM133.07 58.19c-6.44 0-14.26-4.39-15.72-13.09l-10.05-.08c1.7 11.43 10.48 19.32 25.29 19.31 14.17-.01 24.64-7.01 24.63-19.33-.01-12.72-11.84-15.7-22.31-18.59-8.13-2.17-13.61-4.42-13.61-10.14 0-4.99 4.51-9.96 11.03-9.96 7.81 0 12.65 5.3 13.22 10.77l10.14.06C153.34 6.19 145.53-.01 132.16 0c-12.8.01-22.54 7.01-22.54 17.64 0 10.87 9.51 15.78 19.49 18.27 10.15 2.33 16.11 5.39 16.11 11.02 0 5.48-4.82 11.26-12.15 11.26zM157.42 2.08v6.39l15.96-.01.03 54.01 13.28-.01-.02-54 15.97-.01-.01-6.38zM65.68 146.39c-19.5.01-30.47-17.77-52.17-22.97 12.77-7.35 27.44-16.1 27.44-31.73 0-11.18-9.89-18.5-21-18.5C8.48 73.2.4 80.51.41 93.63l9.79-.05c-.15-8.89 3.38-15.67 9.54-15.67 4.87 0 9.92 5.21 9.92 13.43 0 11.98-12.47 20.66-29.67 31.85v7.53c27.66 2.31 40.32 23.15 65.65 23.14 24.46-.01 41.07-24.3 41.07-24.3l-7.21-5.96c.01-.01-13.93 22.78-33.82 22.79zM98.03 80.98h14.25l.02 44.48h9.93l-.02-44.48 14.01-.01v-5.33l-38.2.01zM175.63 97.13l-21.21.01-.01-21.51-11.15.01.02 49.81 11.15-.01-.01-23.58 21.21-.01.01 23.58h11.08l-.02-49.81h-11.08z"
        />
        <path
          class="st0"
          d="M66.88 113.91c7.79 0 11.25-4.19 12.62-6.65-.98 13.91-5.62 23.03-14.45 23.03-9.2 0-14.98-14.28-14.98-14.28l-8.01 6.94s8.92 13.09 23.29 13.08c12.42-.01 27.62-10.88 26.38-36.94-.79-16.59-10.71-26.34-24.28-26.33-11.23 0-21.98 7.97-21.37 20.81.65 13.7 11.26 20.35 20.8 20.34zm.47-36.54c8 0 11.14 7.9 12.01 16.24.33 7.29-1.65 11.61-5.33 13.66-1.25.64-2.72 1.13-4.48 1.34l-.12.01c-.6.07-1.23.11-1.89.11-7.29 0-10.5-9-10.79-15.21-.55-8.7 4.57-16.14 10.6-16.15z"
        />
      </svg>
    </a>

    <a href="/">
      <svg
        id="east29-logo__fixed"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        viewBox="0 0 202.64 104.48"
        xml:space="preserve"
      >
        <style>
          .st0 {
            fill: #fdc20f;
          }
        </style>
        <path
          class="st0"
          d="M138.26 94.87c-25.13-.19-39.08-23.21-66.99-30.15 16.53-9.33 35.54-20.46 35.69-40.6C107.08 9.71 94.41.17 80.09.06 65.31-.06 54.83 9.28 54.7 26.19l12.62.04c-.1-11.46 4.52-20.16 12.46-20.09 6.28.05 12.73 6.82 12.64 17.41-.12 15.44-16.29 26.49-38.57 40.73l-.07 9.7c35.63 3.26 51.71 30.26 84.36 30.51 31.52.24 53.19-30.88 53.19-30.88l-9.23-7.76s-18.2 29.22-43.84 29.02z"
        />
        <path
          class="st0"
          d="M140.15 53.03c10.03.08 14.54-5.29 16.33-8.43-1.41 17.91-7.49 29.62-18.86 29.53-11.85-.09-19.16-18.56-19.16-18.56l-10.39 8.85s11.36 16.96 29.88 17.11c16 .12 35.71-13.73 34.39-47.33C171.49 12.81 158.8.14 141.31 0c-14.47-.11-28.42 10.04-27.76 26.6.69 17.66 14.3 26.34 26.6 26.43zm.99-47.08c10.32.08 14.28 10.3 15.31 21.05.35 9.4-2.25 14.95-7.01 17.55-1.61.82-3.52 1.43-5.79 1.68-.05.01-.1.01-.15.02-.77.08-1.58.12-2.44.12-9.39-.07-13.43-11.71-13.75-19.71-.62-11.23 6.05-20.77 13.83-20.71zM45.41 67.01l-30.56.02-.01-25.64 26.91-.01-.01-6.88-26.91.01V11.46l30.56-.01V4.1L0 4.12l.03 70.26 45.39.08zM182.71 7.38h7.06l.01 19.75h5.75l-.01-19.75 7.12-.01V4.46h-19.93zM196.45 43.27l-7.81.01v-9.3l-5.94.01.01 22.67 5.94-.01-.01-10.73h7.81v10.73h6.03l-.01-22.67h-6.03z"
        />
      </svg>
    </a>
  </div>
  <div class="header__nav-icons--wrapper">
    <div class="header__nav-icons">
      <button class="header__nav-icon-item cart-toggle">
        <svg
          id="cart-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="19.368"
          height="16"
        >
          <path
            d="M4.842 16L1.533 7.827A1.13 1.13 0 00.519 7.2H0V5.6h19.368v1.6h-.517a1.126 1.126 0 00-1.013.629L14.526 16zm8.521-12l-2.63-2.608a.79.79 0 01-.241-.569A.825.825 0 0111.9.238L15.69 4zM3.678 4L7.472.238A.829.829 0 018.054 0a.82.82 0 01.824.824.791.791 0 01-.242.569L6 4z"
            fill="#1b443d"
          />
        </svg>
      </button>
      <button class="header__nav-icon-item nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <div class="header__navigation--wrapper header-drawer nav-drawer">
    <button class="close-nav">
      <span></span>
      <span></span>
    </button>
    <div class="main-menu">
      {% include 'menu' %}
    </div>
  </div>
  <div class="header__cart--wrapper header-drawer cart-drawer">
    <button class="close-cart">
      <span></span>
      <span></span>
    </button>
    <div class="cart-drawer--inner-wrapper">
      {% include 'cart-drawer' %}
    </div>
  </div>
</header>
