<div id="hero-clean-beauty" class="hero-clean-beauty">
  <div class="hero-clean-beauty__col-01">
    <h1 class="will-fade-up-in">{{section.settings.hero-clean-beauty-title}}</h1>
    <div class="arrow-down">
      <svg xmlns="http://www.w3.org/2000/svg" width="24.413" height="98.707">
        <g data-name="ARROW DOWN" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10">
          <path data-name="Line 7" d="M12.207 1.3v96.04"/>
          <g data-name="Group 49">
            <path data-name="Line 8" d="M12.207 98L.707 85.65"/>
            <path data-name="Line 9" d="M12.207 98l11.5-12.35"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="hero-clean-beauty__col-02 lazy-image-wrapper">
    {% comment %} <img
    data-src="{{section.settings.hero-clean-beauty-image | img_url: 'master'}}"
    alt="{{ hero-clean-beauty-image.alt | escape }}"
    class="lazy lazy-reveal delay-1"
    />  {% endcomment %}
    {% render 'responsive-image' with imgSrc: section.settings.hero-clean-beauty-image %}
  </div>
</div>


{% schema %} 
  {
    "name": "Clean Beauty Hero",
    "settings": [
      {
        "id": "hero-clean-beauty-image",
        "type": "image_picker",
        "label": "Clean Beauty Page - Hero Image"
      },
      {
        "id": "hero-clean-beauty-title",
        "type": "textarea",
        "label": "Clean Beauty Page - Hero Title"
      }
    ]
  }
{% endschema %}