<div id="hero-about" class="hero-about">
  <div class="hero-about__col-01">
    <h1>{{section.settings.hero-about-title}}</h1>
    <div class="arrow-down">
      <svg xmlns="http://www.w3.org/2000/svg" width="24.413" height="98.707">
        <g data-name="ARROW DOWN" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10">
          <path data-name="Line 7" d="M12.207 1.3v96.04"/>
          <g data-name="Group 49">
            <path data-name="Line 8" d="M12.207 98L.707 85.65"/>
            <path data-name="Line 9" d="M12.207 98l11.5-12.35"/>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="hero-about__col-02">
    <img src="{{section.settings.hero-about-image | img_url: 'master'}}" alt=""/>
    <div class="background-fill"></div>
  </div>
</div>


{% schema %} 
  {
    "name": "About Hero",
    "settings": [
      {
        "id": "hero-about-image",
        "type": "image_picker",
        "label": "About Hero Image"
      },
      {
        "id": "hero-about-title",
        "type": "textarea",
        "label": "About Hero Title"
      }
    ]
  }
{% endschema %}