<div class="homepage__intro-para">
  <h3 class="will-fade-up-in">{{section.settings.homepage-intro-para}}</h3>
</div>

{% schema %} 
  {
    "name": "Homepage Intro Paragraph",
    "settings": [
      {
        "id": "homepage-intro-para",
        "type": "textarea",
        "label": "Homepage Intro Paragraph"
      }
    ]
  }
{% endschema %}