<div class="homepage-product-cta">
  <div class="homepage-product-cta__col-01">
    <h2>The Vital Serum</h2>
    <p>
      Torquem detraxit hosti et quidem rerum hic tenetur a philosophis
      compluribus permulta dicantur. Laudem et argumentandum et inter argumentum
      conclusionemque rationis et molestiae consequatur, vel illum. Certe,
      inquam, pertinax non ero tibique, si mihi probabis ea, quae ab illo.
    </p>
    <a href="/products/vital-serum" class="button-main">Shop Now</a>
  </div>
  <div class="homepage-product-cta__col-02">
    <div class="circle-text">
      <img
        class="rotate"
        src="{{ 'made-with-lemon_circle.png' | asset_img_url: 'master' }}"
      />
    </div>
    <div class="product-image">
      <img
        src="{{ 'Bottle@2x.png' | asset_img_url: 'master' }}"
        alt="East 29th Vital Serum Bottle"
      />
    </div>
  </div>
</div>
