<div class="homepage-product-cta will-fade-in">
  <div class="homepage-product-cta__col-01">
    <h2>{{section.settings.vital-cta-title}}</h2>
    <p>
      {{section.settings.vital-cta-text}}
    </p>
    <a href="/products/vital-serum" class="button-main">Preorder</a>
  </div>
  <div class="homepage-product-cta__col-02 hotdog">
    {% comment %} <img 
    data-src="{{section.settings.vital-cta-image | img_url: 'master'}}" 
    class="lazy lazy-reveal lazy-image-wrapper"
    alt="{{vital-cta-image.alt | escape}}"/> {% endcomment %}
    {% render 'responsive-image' with imgSrc: section.settings.vital-cta-image %}

  </div>
</div>

{% schema %} 
  {
    "name": "Vital Serum CTA",
    "settings": [
      {
        "id": "vital-cta-title",
        "type": "text",
        "label": "CTA Title"
      }, 
      {
        "id": "vital-cta-text",
        "type": "textarea",
        "label": "CTA Text"
      },
      {
        "id": "vital-cta-image",
        "type": "image_picker",
        "label": "CTA Image"
      }
    ]
  }
{% endschema %}
