
<div class="product-how-to">
  <div class="product-how-to__col-01">
    <img src="{{section.settings.product-how-to-image | img_url: 'master'}}" alt="woman using East 29th vital serum"/>
  </div>
  <div class="product-how-to__col-02">
    <div class="col-02--inner-wrapper">
      <h2>{{section.settings.product-how-to-title}}</h2>
      <p>{{section.settings.product-how-to-text}}</p>
    </div>
  </div>
</div>


{% schema %} 
  {
    "name": "How To Use",
    "settings": [
      {
        "id": "product-how-to-image",
        "type": "image_picker",
        "label": "How To Image"
      },
      {
        "id": "product-how-to-title",
        "type": "text",
        "label": "How To Title"
      },
      {
        "id": "product-how-to-text",
        "type": "textarea",
        "label": "How To Text"
      }
    ]
  }
{% endschema %}