<div class="reviews--wrapper">
  <div class="swiper-container">
    <div class="edge-fade"></div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}

          <div class="swiper-slide">
            <h3>
              {{block.settings.comment}}
            </h3>
            <p>
              - {{block.settings.comment-author}}
            </p>
          </div>
          {% endfor %}
      </div>
      <div class="edge-fade"></div>
  </div>
    <div class="swiper-pagination"></div>
</div>


{% schema %}
  {
    "blocks": [
      {
        "type": "text",
        "name": "Comments",
        "settings": [
          {
            "id": "comment",
            "type": "textarea",
            "label": "Enter a comment from a customer"
          },
          {
            "id": "comment-author",
            "type": "text",
            "label": "Enter comment author"
          }
        ]
      }
    ]
  }
{% endschema %}