.cart-drawer__quantity--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $e29green;
  width: 50%;
  padding: 0.5rem;
  margin-top: 0.5rem;

  @media (max-width: $desktopSmall) {
    width: 75%;
  }

  @media (max-width: $tablet) {
    width: 50%;
  }

  @media (max-width: $mobileLarge) {
    width: 100%;
  }

  .decrement {
    padding-left: 1rem;
    padding-right: 1rem;

    #decrement-arrow {
      path {
        stroke: $grey;
      }
    }
  }

  .decrement:hover #decrement-arrow path {
    stroke: $e29green;
  }

  .QuantityCount__Drawer {
    border: none;
    font-size: 1rem;
    font-family: $font__main--reg;
    text-align: center;
    width: 35px;
  }

  .increment {
    padding-right: 1rem;
    padding-left: 1rem;

    #increment-arrow {
      path {
        stroke: $grey;
      }
    }
  }

  .increment:hover #increment-arrow path {
    stroke: $e29green;
  }
}

button[type='submit'] {
  margin: 0;
  // padding-right: 2rem;
  // padding-left: 2rem;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
