// Main Header
.fixed-header .header__main {
  position: fixed;
  top: 0;
  height: 60px;
  max-height: 60px;
  background-color: $white !important;
  border-bottom: 1px solid $grey;
}

// Logos
.fixed-header #east29-logo {
  display: none !important;
}
.fixed-header #east29-logo__fixed {
  display: inline-block !important;
  opacity: 1 !important;
}

.fixed-header #cart-icon {
  path {
    fill: $e29green !important;
  }
}

.fixed-header #nav-toggle {
  span {
    background-color: $e29green !important;
  }
}

// About page Sub Nav Bar
.page-about.fixed-sub-nav .sub-nav-bar {
  position: fixed;
  z-index: 99;

  @media (max-width: $tablet) {
    position: relative;
    top: 0 !important;
  }
}
// Clean Beauty page Sub Nav Bar
.page-clean-beauty.fixed-sub-nav .sub-nav-bar {
  position: fixed;
  z-index: 99;

  @media (max-width: $tablet) {
    position: relative;
    top: 0 !important;
  }
}
