#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $e29green;
  margin-top: $spacer140;

  @media (max-width: $mobileLarge) {
    margin-top: $spacer50;
  }

  .footer-row-01 {
    padding: 6.5rem 10%;
    display: flex;

    @media (max-width: $desktopMed) {
      padding: 6.5rem 6%;
    }

    @media (max-width: $desktopSmall) {
      padding: 6.5rem 3%;
    }

    @media (max-width: $tablet) {
      display: none;
      margin-top: 0;
    }

    .insta-feed-title {
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      h3 {
        color: $e29yellow;
        white-space: nowrap;
        font-size: 1.25vw;
        text-transform: uppercase;
        padding: 5%;
      }
    }

    #insta-feed {
      margin-top: 0 !important;
      width: 100%;
    }
  }

  .footer-row-02 {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid $e29yellow;
    padding: 6.5rem 3.5rem 6.5rem 3.5rem;

    @media (max-width: $tablet) {
      flex-direction: column;
      justify-content: center;
      padding: 3.5rem 3.5rem;
    }

    @media (max-width: $mobileLarge) {
      padding: 1.5rem;
    }

    .footer-row-02__col-01 {
      display: flex;
      align-items: flex-start;
      width: 20%;

      @media (max-width: $tablet) {
        width: 100%;
        margin: 2rem 0;
      }

      #footer-logo {
        width: 90px;
      }
    }
    .footer-row-02__col-02 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 40%;

      @media (max-width: $tablet) {
        width: 100%;
        justify-content: flex-start;
      }

      .newsletter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        @media (max-width: mobileLarge) {
          width: 100%;
        }

        form {
          width: 100%;
        }

        h3 {
          color: $e29yellow;
        }
        p {
          color: $white;
          width: 80%;
        }

        .errors {
          color: $e29yellow;

          ul {
            padding-left: 0;
          }
        }

        .newsletter--form {
          margin-top: 2rem;

          .note {
            color: $white;
          }

          .input-group {
            display: flex;
            height: 100%;

            .newsletter__input {
              font-size: 0.875rem;
              padding-left: 0.75rem;
              flex: 1;
              border: none;

              @media (max-width: $tablet) {
                width: 50%;
              }
            }

            .input-group-btn {
              @media (max-width: $tablet) {
                width: 50%;
              }

              .button-main {
                margin: 0;
              }
            }
          }
        }
      }
    }
    .footer-row-02__col-03 {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 40%;

      @media (max-width: $tablet) {
        width: 100%;
      }

      .footer__menu--wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $tablet) {
          width: 100%;
          margin: 2rem 0;
          justify-content: space-between;
        }

        a {
          color: $white;
          text-transform: uppercase;
          margin-left: 3rem;
          font-family: $font__main--semibold;
          line-height: 1;

          @media (max-width: 920px) {
            margin-left: 2rem;
          }

          @media (max-width: $tablet) {
            margin-left: 0;
          }

          svg#footer__instagram-icon {
            width: 15px;
          }
        }
      }
    }
  }
  .footer-row-03 {
    height: 40px;
    background-color: $e29yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;

    @media (max-width: 548px) {
      height: auto;
      flex-direction: column;
      padding: 1rem 3.5rem;
    }

    .footer-copyright span {
      color: $e29green;
      font-size: 0.75;
      letter-spacing: 0;
    }
    .sub-footer-menu--wrapper a {
      color: $e29green;
      font-size: 0.75;
      letter-spacing: 0;
      margin-left: 5rem;

      @media (max-width: 548px) {
        margin: 0;
        display: block;
        text-align: center;
        line-height: 1.5;
      }
    }
  }
}
