.header__main {
  width: 100%;
  height: 106px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 3.5rem;

  display: flex;
  justify-content: space-around;

  @media (max-width: $mobileLarge) {
    height: 60px;
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .header__logo--wrapper {
    cursor: pointer;
    display: flex;

    a {
      display: flex;
    }

    svg#east29-logo {
      width: 90px;
      max-width: 90px;

      path {
        fill: $e29yellow;
      }

      @media (max-width: $mobileLarge) {
        display: none;
      }
    }

    svg#east29-logo__fixed {
      width: 80px;
      max-width: 80px;
      display: none;

      @media (max-width: $mobileLarge) {
        display: block;
      }
    }
  }

  .header__nav-icons--wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .header__nav-icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      .header__nav-icon-item {
        width: 20px;
        height: 20px;
        margin-left: 5rem;
        cursor: pointer;

        @media (max-width: $mobileLarge) {
          margin-left: 3rem;
        }
      }
    }
  }
}

.header__main.fixed {
  position: fixed;
}

svg#cart-icon {
  path {
    fill: $e29green;
  }
}

.nav-toggle > span {
  display: block;
  margin: 3px 0;
  width: 15px;
  height: 2px;
  background-color: $e29green;
}

.header-drawer--wrapper {
  position: relative;
  height: 100vh;
  width: auto;
}

.nav-drawer {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  background-color: $white;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $e29green;
  padding: 5rem;
  transition: transform 350ms ease-in-out;

  .close-nav {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 100%;
  }

  .close-nav > span {
    width: 16px;
    height: 1px;
    display: block;
    background-color: $e29green;
    position: absolute;
    top: 8px;
  }

  .close-nav span:first-of-type {
    transform-origin: center center;
    transform: rotate(45deg);
  }

  .close-nav span:last-of-type {
    transform-origin: center center;
    transform: rotate(-45deg);
  }

  .main-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    a {
      color: $e29green;
      font-size: 1.5rem;
      margin: 1.5rem 0;
      text-transform: uppercase;
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  background-color: $white;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $e29green;
  padding: 5rem;
  transition: transform 350ms ease-in-out;

  @media (max-width: $tablet) {
    width: 100%;
  }

  @media (max-width: $mobileLarge) {
    padding: 3.5rem;
  }

  .close-cart {
    width: 16px;
    height: 16px;
    position: relative;
    margin-left: 100%;
  }

  .close-cart > span {
    width: 16px;
    height: 1px;
    display: block;
    background-color: $e29green;
    position: absolute;
    top: 8px;
  }

  .close-cart span:first-of-type {
    transform-origin: center center;
    transform: rotate(45deg);
  }

  .close-cart span:last-of-type {
    transform-origin: center center;
    transform: rotate(-45deg);
  }
}

.nav-drawer.open {
  transform: translate3d(0, 0, 0);

  @media (max-width: $tablet) {
    width: 100%;
  }
}
.cart-drawer.open {
  transform: translate3d(0, 0, 0);

  @media (max-width: $tablet) {
    width: 100%;
  }
}
