.horizontal-spacer {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet) {
    height: 160px;
  }

  &:before {
    display: block;
    content: '';
    width: 75%;
    height: 1px;
    background-color: $grey;

    @media (max-width: $tablet) {
      width: 90%;
    }
  }
}
