// Links
a.button-main {
  background-color: $e29green;
  font-family: $font__main--med;
  color: $e29yellow;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $e29yellow;
  font-size: 0.8rem;
  padding: 0.75rem 1.5rem;
  margin: 0;
  width: 180px;
  max-width: 180px;
  transition: all 100ms ease-in-out;

  &:hover {
    border: 1px solid $e29green;
    background-color: $white;
    color: $e29green;
  }

  &.no-border {
    border: 1px solid $e29green;
  }

  @media (max-width: $mobileLarge) {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }
}

// Buttons
.button-main {
  background-color: $e29green;
  font-family: $font__main--med;
  color: $e29yellow;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid $e29yellow;
  font-size: 0.8rem;
  padding: 0.75rem 1.5rem;
  margin: 0;
  width: 180px;
  max-width: 180px;
  transition: all 100ms ease-in-out;

  &:hover {
    border: 1px solid $e29green;
    background-color: $white;
    color: $e29green;
  }

  &.no-border {
    border: 1px solid $e29green;
  }

  @media (max-width: $mobileLarge) {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }
}
