{% section 'hero-clean-beauty' %}
<div class="sub-nav-bar">
  <ul>
  {% comment %} Change HREFS {% endcomment %}
    <li><a id="clean-beauty-link" href="#clean-beauty" class="anchor-link">Clean Beauty Movement</a></li>
    <li><a id="green-beauty-link" href="#green-beauty" class="anchor-link">Green Beauty</a></li>
    <li><a id="vegan-link" href="#vegan" class="anchor-link">Vegan & Cruelty-Free</a></li>
    <li><a id="serums-link" href="#serums" class="anchor-link">Serums VS. Oils</a></li>
  </ul>
</div>

<div class="flow-adjuster"></div>
{% section 'clean-beauty-intro' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-movement' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-green-beauty' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-vegan' %}
<div class="horizontal-spacer"></div> 
{% section 'clean-beauty-serums' %}







