{% section 'hero-clean-beauty' %}
<div class="clean-beauty-page-nav-bar">
  <ul>
  {% comment %} Change HREFS {% endcomment %}
    <li><a id="clean-beauty-link" href="#who-we-are" class="anchor-link">Clean Beauty Movement</a></li>
    <li><a id="green-beauty-link" href="#mission-values" class="anchor-link">Green Beauty</a></li>
    <li><a id="vegan-link" href="#our-founder" class="anchor-link">Vegan & Cruelty-Free</a></li>
    <li><a id="serums-link" href="#our-founder" class="anchor-link">Serums VS. Oils</a></li>
  </ul>
</div>

<div class="flow-adjuster"></div>
{% section 'clean-beauty-intro' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-movement' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-green-beauty' %}
<div class="horizontal-spacer"></div>
{% section 'clean-beauty-vegan' %}
<div class="horizontal-spacer"></div> 
{% section 'clean-beauty-serums' %}







