{% section 'hero-about' %}
<div class="sub-nav-bar">
  <ul>
    <li><a id="who-link" href="#who-we-are" class="anchor-link">Who We Are</a></li>
    <li><a id="mission-link" href="#mission-values" class="anchor-link">Mission & Values</a></li>
    {% comment %} <li><a id="founder-link" href="#our-founder" class="anchor-link">Our Founder</a></li> {% endcomment %}
  </ul>
</div>

<div class="flow-adjuster"></div>
{% section 'about-who' %}
{% section 'about-mission' %}
{% comment %} {% section 'about-founder' %} {% endcomment %}





