{% section 'hero-about' %}
<div class="about-page-nav-bar">
  <ul>
    <li><a href="#">Who We Are</a></li>
    <li><a href="#">Mission & Values</a></li>
    <li><a href="#">Our Founder</a></li>
  </ul>
</div>

{% section 'about-who' %}
{% section 'about-mission' %}
{% section 'about-founder' %}





